* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

input,
button {
    outline: none;
    border: none;
}

.router-link-active {
    color: #f00;
}

html,
body {
    font-size: 10px;
}

@media screen and (min-width:375px) {
    html,
    body {
        font-size: 10px !important;
    }
}

@media screen and (min-width:414px) {
    html,
    body {
        font-size: 11.04px !important;
    }
}

@media screen and (min-width:768px) {
    html,
    body {
        font-size: 20.48px !important;
    }
}